body{
  background-color: blue;
  background-image: url(triangular.png);
}

p{
  border-style:solid;
}

img{
  border-style:solid;
  transition:all .1s ease;
}



#mainBody{
  padding-top:60px;
}

.navbar li {
  font-size: 20px;
  font-family: cursive;
  display: inline;
  padding: 10px;
  transition:all 1s ease;
    
}

.navbar a {
    border: 2px solid black;
}




.navbar {
/*   position: fixed; */
  border: solid black;
  border-style: outset;
  background-color: grey;
  text-align: center;
    width: 100%;
      
}

h1{
  color:red;
}


