body{
  background-color: black;
  background-image: url(triangular.png);
}

p{
  border-style:solid;
}

img{
  border-style:solid;
  transition:all .1s ease;
}

.spin:hover{
  transform:rotateZ(1080deg);
}

#mainBody{
  padding-top:65px;
}

.navbar li {
  font-size: 25px;
  font-family: cursive;
  display: inline;
  padding: 110px;
  transition:all 1s ease;
}

.navbar li:hover{
  transform:rotateZ(180deg);

}



.navbar {
  position: fixed;
  border: solid black;
  border-style: outset;
  background-color: grey;
  text-align: center;
}

h1{
  color:red;
}


